# OS files #

# account generator test files
accountGenerator/OWLFG_testData.sql
accountGenerator/testData_expectedResults.txt

# pdo file
php/playerdb.php

.DS_Store
*.swp # vim

# Python files #
__pycache__/
.idea/
