/*file for adding our own styles (colors, fonts, etc.) to bootstrap and HTML elements*/

/*@font-face {
    font-family: 'OWLFG';
    src: url();
}*/

html {
	font-family: "Arial, sans-serif";
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    background: url(../assets/winston.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }


.sharp {
    border-radius: 0 !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f2f2f2;
}

 .btn-noborder{
  border:0px solid transparent; /* this was 1px earlier */
 }

.active:hover {
	/*color:;*/
}

.rotate{
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.rotate.down{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #f8f8f8;
}

.navbar-default .navbar-brand {
    color: #f8f8f8;
    /*font-family: OWLFG;*/
}

.nav .navbar-nav {
    color: #f8f8f8;
}

.navbar-default .navbar-nav {
    border-left: 5px solid #f7931e;
    border-right: 5px solid #f7931e;
}

.navbar-default .navbar-nav > .active > a {
    color: #f8f8f8;
    background-color: #0d0d0d;
    /*background-color: #405275;*/
    background-color: hsla(220, 29%, 35%, 0.00);
    /*background-color: hsla(0, 0%, 5%, 0);*/
	font-weight: bold;
}

.navbar-default {
    font-weight: bold;
    background-color: #0d0d0d;
    /*background-color: #405275;*/
    background-color: hsla(220, 29%, 35%, 0.95);
    /*background-color: hsla(0, 0%, 5%, 0.75);*/
    border-bottom: 5px solid #f7931e;
}

#dot-matrix {
    background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

#page {
    padding: 0px;
    height: 100%;
    width: 100%;
}

#preferences-container {
    
    width: 100%;
} 

#preferences-menu {
    margin: 0 auto;
    width: 100%;
	min-height: 33%;
    height:auto !important; /* cross-browser */
    height: 100%;           /* cross-browser */;
    background-color: #fff;
    border-top: 15px;
}

#filter-player-form .form-group {
    min-width: 300px;
    width: 50%;
}

#refine-button {
    border-radius: 0px;
    float: right;
    background-color: #f7931e;
}

#refine-button:hover {
    background-color: #ff9c00; 
}

#add-user-container {
    margin: 0 auto;
    height: 15%;
    width: 100%;
    
}
#add-user {
    border-top: 5px;
    border-bottom: 5px;
    /*background-color: #2F2526;*/

    height: 100%;
    width: 100%;
}

#list-me {
    position: absolute;
    top: 25%;
    left: 5%;
    background-color: #f7931e;
    color: #f8f8f8;
    border-radius: 0px;
    float: right;
}

#list-me:hover {
    background-color: #ff9c00; 
}

#refresh-button {
    position: absolute;
    border: 0px;
    top: 45%;
    right: 5%;
    background-color: transparent;
    color: #f8f8f8;
    padding: 0px;
}

#sr-sort-button-ascending {
    position: absolute;
    border: 0px;
    top: 50%;
    right: 20%;
    /*background-color: hsla(220, 29%, 35%, 0.65);*/
    background-color: transparent;
    color: #f8f8f8;
    padding: 0px;
}

#sr-sort-button-descending {
    position: absolute;
    border: 0px;
    top: 50%;
    right: 18%;
    /*background-color: hsla(220, 29%, 35%, 0.65);*/
    background-color: transparent;
    color: #f8f8f8;
    padding: 0px;
}

#level-sort-button-ascending {
    position: absolute;
    border: 0px;
    top: 50%;
    right: 10%;
    /*background-color: hsla(220, 29%, 35%, 0.65);*/
    background-color: transparent;
    color: #f8f8f8;
    padding: 0px;
}

#level-sort-button-descending {
    position: absolute;
    border: 0px;
    top: 50%;
    right: 8%;
    /*background-color: hsla(220, 29%, 35%, 0.65);*/
    background-color: transparent;
    color: #f8f8f8;
    padding: 0px;
}

#sr-sort-button-descending:hover, #level-sort-button-descending:hover, #refresh-button:hover, #ascending-icon:hover {
    color: rgba(229,229,229,0.5);
}

#sr-sort-label {
    position: absolute;
    border: 0px;
    top: 10%;
    right: 20%;
}

#lvl-sort-label {
    position: absolute;
    border: 0px;
    top: 10%;
    right: 9%;
}

#results {
    position: relative;
    height: 100%;
    width: 100%;
    
}

#results-div {
    border-bottom: 25px;
    background-color: #fff;
    max-height: 85%;
    height: 100%;
}

#results-label {
    color: #f8f8f8;
    background-color: #f7931e;
}

#results-table {
    margin: 0 auto;
    width: 95%;
}

#modal-form-header {
    background-color: #f7931e;
    text-align: center;
    color: #f7f7f7;
}

#modal-exit {
    opacity: 0.8;
    color: #f7f7f7;
}

#modal-exit:hover {
    opacity: 1.0;
}

#modal-form {
    margin: 5px;
}

textarea {
    max-width: 100%;
}

#found-player {
    line-height: 37px;
    min-height: 37px;
    height: 37px;
}

td {
    text-align: left;
}

.container{
    min-height: 85%;
}

/* Styles for the sliders */
#input-slider .slider-selection {
	background: #BABABA;
}

#input-slider .slider-handle {
	background: #f7931e;
}

#bottom-page {
    color: #f8f8f8;
    border-top: 5px solid  #f7931e;
    background-color: #0d0d0d;
    position: relative;
    height: 50px;
    width: 100%;
}

#bottom-page img {
    background: transparent;
    border: 0px;
    width: 45px;
    height: 45px;
}

#footer-image {
    padding-right: 0px;
}

#footer-name {
    padding-left: 0px;
}




/*************checkbox stuff*************/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}



.table .unactive {
    -webkit-transform: rotate(90deg);    
    -moz-transform: rotate(90deg);        
    -o-transform: rotate(90deg);          
    -ms-transform: rotate(90deg);         
    transform: rotate(90deg);             
}

.table .collapsed .unactive {
    -webkit-transform: rotate(0deg);     
    -moz-transform: rotate(0deg);        
    -o-transform: rotate(0deg);          
    -ms-transform: rotate(0deg);   
    transform: rotate(0deg);       
}