/*file for adding our own styles (colors, fonts, etc.) to bootstrap and HTML elements*/

html {
	font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding-top: 50px;
  }

.active:hover {
    /*
	background-color:;
    */
}

.active {
    /*
    background-color:;
	font-weight: bold;
    */
}

.navbar-default {
    background-color: #2F2526;
    border: 0px;
    border-color: #2F2526;
}

#page {
    padding: 0px;
    height: 100%;
    width: 100%;
}

#under-menu {
    position: fixed;
    background-color: #FF6600;
    border-width: 0px;
    height: 5px;
    width: 100%;
}

#preferences-menu {
    float: left;
    width: 25%;
	min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%;           /* cross-browser */;
    border-style: solid;
    border-width: 1px;
    /*
    background-color: #000;
    */
}

#refine-button {
    background-color: #FF6600;
}

#refine-button:hover {
    background-color: #e65c00; 
}

#add-user {
    float: right;
    height: 20%;
    width: 75%;
    border-style: solid;
    border-width: 1px;
}

#list-me {
    position: absolute;
    top: 40%;
    left: 5%;
    background-color: #FF6600;
    color: #2F2526;
}

#list-me:hover {
    background-color: #e65c00; 
}

#results {
    float: right;
    height: 80%;
    width: 75%;
    border-style: solid;
    border-width: 1px;
}

#results-div {
    max-height: 85%;
    height: 100%;
}

#results-table {
    /**/
}

#modal-form-header {
    background-color: #2F2526;
    text-align: center;
    color: #f7f7f7;
}

#modal-exit {
    opacity: 0.8;
    color: #f7f7f7;
}

#modal-exit:hover {
    opacity: 1.0;
}

#modal-form {
    margin: 5px;
}

textarea {
    max-width: 100%;
}

#found-player {
    line-height: 37px;
    min-height: 37px;
    height: 37px;
}

td {
    text-align: left;
}

