/*file for adding our own styles (colors, fonts, etc.) to bootstrap and HTML elements*/

/*@font-face {
    font-family: 'OWLFG';
    src: 'fonts/font.ttf';
}*/

html {
	font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.active:hover {
	/*color:;*/
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #f8f8f8;
}

.navbar-default .navbar-brand {
    color: #f8f8f8;
    /*font-family: OWLFG;*/
}

.nav .navbar-nav {
    color: #f8f8f8;
}

.navbar-default .navbar-nav {
    border-left: 5px solid #FF6600;
    border-right: 5px solid #FF6600;
}

.navbar-default .navbar-nav > .active > a {
    color: #f8f8f8;
    background-color:#2F2526;
	font-weight: bold;
}

.navbar-default {
    background-color: #2F2526;
    border-bottom: 5px solid #FF6600;
}

#page {
    padding: 0px;
    height: 100%;
    width: 100%;
}

#preferences-container {
    background-color: #000000;
    width: 100%;
} 

#preferences-menu {
    margin: 0 auto;
    width: 100%;
	min-height: 33%;
    height:auto !important; /* cross-browser */
    height: 100%;           /* cross-browser */;
    background-color: #f8f8f8;
}

#filter-player-form .form-group {
    min-width: 300px;
    width: 50%;
}

#refine-button {
    border-radius: 0px;
    float: right;
    background-color: #FF6600;
}

#refine-button:hover {
    background-color: #e65c00; 
}

#add-user-container {
    margin: 0 auto;
    height: 15%;
    width: 100%;
    background-color: #000000;
}
#add-user {
    background-color: #fff;
    height: 100%;
    width: 100%;
}

#list-me {
    position: absolute;
    top: 40%;
    left: 5%;
    background-color: #FF6600;
    color: #f8f8f8;
    border-radius: 0px;
}

#list-me:hover {
    background-color: #e65c00; 
}

#refresh-button {
    position: absolute;
    border: 0px;
    top: 80%;
    right: 5%;
    background-color: transparent;
    color: #2F2526;
    padding: 0px;
}

#refresh-button:hover {
    color: rgba(0,0,0,0.5);
}

#results {
    height: 100%;
    width: 100%;
    background-color: #000000;
}

#results-div {
    background-color: #fff;
    max-height: 85%;
    height: 100%;
}

#results-label {
    color: #f8f8f8;
    background-color: #e65c00;
}

#results-table {
    margin: 0 auto;
    width: 80%;
}

#modal-form-header {
    background-color: #2F2526;
    text-align: center;
    color: #f7f7f7;
}

#modal-exit {
    opacity: 0.8;
    color: #f7f7f7;
}

#modal-exit:hover {
    opacity: 1.0;
}

#modal-form {
    margin: 5px;
}

textarea {
    max-width: 100%;
}

#found-player {
    line-height: 37px;
    min-height: 37px;
    height: 37px;
}

td {
    text-align: left;
}

.container{
    min-height: 85%;
}

/* Styles for the sliders */
#input-slider .slider-selection {
	background: #BABABA;
}

#input-slider .slider-handle {
	background: #e65c00;
}

#bottom-page {
    color: #f8f8f8;
    border-top: 5px solid  #FF6600;
    background-color: #000000;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}

#bottom-page img {
    background: transparent;
    border: 0px;
    width: 45px;
    height: 45px;
}

#footer-image {
    padding-right: 0px;
}

#footer-name {
    padding-left: 0px;
}
